.about-me {
    flex-basis: auto;
    width: 32rem;
    border: 0.1rem dotted var(--clr-dark-orange);
    border-radius: 0.6rem;
    padding: 0.5rem;
    margin-block: 3rem;
}

.about-me p {
    margin-block: 0.5rem;
}

.image-wrapper {
    flex-basis: 10rem;
    width: 14rem;
    /*border: 0.1rem dotted var(--clr-dark-orange);*/
    /*border-radius: 0.6rem;*/
}

img {
    border-radius: 0.6rem;
}

.text-box-details {
    display: flex;
}

.text-box-title-1 {
    font-weight: 600;
    color: var(--clr-red);
    margin-right: 0.5rem;
}
