/* ------------------------------- Variables ---------------------------------------- */

:root {
    --clr-red: hsl(7, 100%, 32%);
    --clr-dark-orange: hsl(18, 98%, 36%);
    --clr-orange: hsl(30, 95%, 46%);
    --clr-powder: hsl(42, 100%, 92%);
    --clr-chocolate: hsl(338, 83%, 12%);
    --clr-yellow: hsl(55, 100%, 64%);
}
